/*party colors*/

.pp{
  color: #0194D9;
  background-color: #0194D9;
}

.psoe{
  color: #F82433;
  background-color: #F82433;
}

.podemos{
  color: #9C489E;
  background-color: #9C489E;
}

.ciudadanos{
  color: #EF7A36;
  background-color: #EF7A36;
}

.esquerra{
  color: #F79F21;
  background-color: #F79F21;
}

.dyl{
  color: #19204B;
  background-color: #19204B;
}

.pnv{
  color: #009526;
  background-color: #009526;
}


.iu{
  color: #8F2222;
  background-color: #8F2222;
}

.bildu{
  color: #C3CF34;
  background-color: #C3CF34;
}

.cc{
  color: #FFFF96;
  background-color: #FFFF96;
}

.upyd{
  color: #BBBF11;
  background-color: #BBBF11;
}

.bng{
  color: #FF0090;
  background-color: #FF0090;
}

.udc{
  color: #9CC1E6;
  background-color: #9CC1E6;
}

.vox {
  color: #6699FF;
  background-color: #6699FF;
}

.others{
  color: #f0f0f0;
  background-color: #f0f0f0;
}

/*2011-only parties*/
.ciu{
  color: #001D59;
  background-color: #001D59;
}

.amaiur{
  color: #0E8D9E;
  background-color: #0E8D9E;
}

.compromis{
  color: #626231;
  background-color: #626231;
}

.fac{
  color: #003784;
  background-color: #003784;
}

.gbai{
  color: #8D838B;
  background-color: #8D838B;
}

.equo,
.pacma,
.eb,
.pa,
.pxc,
.others{
  color: #f0f0f0;
  background-color: #f0f0f0;
}

/* table line separators*/
thead tr{
  border-bottom: 2px solid #555;
}

tbody tr{
  border-bottom: 1px solid #AAA;
}

/* give space to party name after party legend */
.pp,
.psoe,
.podemos,
.ciudadanos,
.esquerra,
.dyl,
.pnv,
.iu,
.bildu,
.cc,
.pacma,
.upyd,
.bng,
.udc,
.vox,
.others {
  margin-right: 1em;
}

/* 2011-only parties */
.ciu,
.amaiur,
.compromis,
.fac,
.gbai,
.equo,
.eb,
.pa,
.pxc {
  margin-right: 1em;
}

body,
.seats,
td span{
  color: #555;
}

td{
  color: #AAA;
}

.up{
  color: white;
  background-color: #006D2C;
  /*background-color: green;*/
}

.down{
  color: white;
  background-color: #A50F15;
  /*background-color: red;*/
}

.up,
.down,
.equal,
.seats{
  font-weight: bold;
}
